a {
	text-decoration: none;
}

.banner-container {
	width: 100%;
	/* background-color: #bbbbbb; */
	display: flex;
	justify-items: center;
	align-items: center;
}

.set-banner {
	font-family: Beleren;
	display: flex;
	gap: 30px;
	align-items: center;
	justify-items: center;
	font-size: 40px;
	color: #171717;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.set-banner img {
	width: 100px;
}

.image-grid {
	padding-top: 40px;
	width: 70%;
	max-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: minmax(200px, 2fr) minmax(200px, 2.5fr);
	gap: 30px;
	padding-bottom: 10px;
	justify-items: center;
}

.image-grid img {
	position: relative;
}



.add-icon {
	max-height: 14px;
}

.add-to-deck {
	border: 3px solid rgb(19, 88, 19);
	border-radius: 8px;
	background-color: rgb(91, 196, 93);
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	width: fit-content;
	align-items: center;
	justify-items: center;
	display: flex;
	gap: 10px;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.view-stats {
	border: 3px solid rgb(29, 19, 88);
	border-radius: 8px;
	background-color: rgb(91, 101, 196);
	color: white;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
	width: fit-content;
	align-items: center;
	justify-items: center;
	display: flex;
	gap: 10px;
	cursor: pointer;
	margin: 5px;
	float: right;
}

.ft-divider {
	border-width: 1px;
}

.rulings-textarea {
	display: block;
	width: 100%;
	height: 52px;
}

.rulings-container {
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.rulings-list {
	font-size: 1.2em;
	font-style: italic;
}

.rulings-input-container {
	display: flex;
	gap: 6px;
	align-items: center;
	justify-items: center;
}

.rulings-submit-btn {
	border: 2px solid white;
	border-radius: 15px;
	font-weight: bold;
	transition: 0.2s;
	cursor: pointer;
}

.rulings-submit-btn:hover {
	border-radius: 5px;

}

.stats-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-top: 2px solid var(--text-color);
	border-left: 2px solid var(--text-color);
}

.stat-title,
.stat-value,
.is-played {
	border-right: 2px solid var(--text-color);
	border-bottom: 2px solid var(--text-color);
	padding: 8px;
	font-size: 18px;
	text-align: center;
	transition: 0.3s;
}

.stat-title:hover,
.stat-value:hover {
	background-color: var(--mid-accent);
}

.played {
	background-color: rgb(103, 201, 98);
}

.not-played {
	background-color: rgb(226, 74, 74);
}

.is-played:hover {
	filter: brightness(0.7);
}

.hover-card {
	display: none;
	position: absolute;
	height: 262px;
	width: 188px;
	pointer-events: none;
}

ul {
	margin-top: 5px;
}

.card-changes {
	font-size: 17px;
}

.changes-header {
	font-size: 18px;
	font-weight: bold;
}

.decks-stats-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	margin-bottom: 100px;
}

.deck-container:hover {
	filter: brightness(0.7);
}