.deck-container {
    display: grid;
    /* grid-template-columns: repeat(calc(70vw / calc(var(--card-height) / 1.4)), 1fr); */
    grid-template-columns: repeat(6, 1fr);
    margin-left: 5vw;
    gap: 10px;
    width: 90vw;
}

.deck-container .img-container {
    height: var(--card-height);
}

.deck-container .img-container img {
    height: var(--card-height);
    width: auto;
}

.deck-container .img-container {
    height: var(--card-spacing);
}

.mv-label {
    width: 100%;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.hover-card {
	display: none;
	position: absolute;
	height: 350px;
	width: 250px;
	pointer-events: none;
}

.deck-name {
    width: 100%;
    text-align: center;
    font-family: beleren;
    font-size: 4em;
    font-weight: normal;
    margin-bottom: 10px;
}

.deck-author {
    width: 100%;
    text-align: center;
    font-family: beleren;
    font-size: 2em;
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
}

.deck-options {
    background-color: red;
    position: absolute; 
    display: flex;
    padding: 8px;
    gap: 15px;
    border-radius: 5px;
    right: 1vw;
    top: 5vw;
    background-color: color-mix(in srgb, var(--mid-accent) 60%, transparent);
    border: 2px solid var(--light-accent);
}

.deck-button {
    background-color: var(--bg-color);
    color: var(--popout-text-color);
    border: 2px solid var(--popout-text-color);
    border-radius: 8px;
    padding: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
}

.deck-button:hover {
    background-color: var(--mid-accent);
    text-decoration: none;
}

.deck-button-icon {
    max-height: 25px;
}

body[data-theme=Light]  .deck-button-icon {
    filter: invert();
}

.deck-opt-section {
    display: flex;
    align-items: center;
    color: var(--popout-text-color);
    font-size: 1.3em;
    font-weight: bold;
    gap: 8px;
}

.deck-opt-label {
    font-weight:  normal;
}

.deck-opt-select {
    background-color: var(--bg-color);
    color: var(--popout-text-color);
    border-radius: 8px;
    padding: 7px;
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

.export-modal-button {
	color: #fff;
	background-color: rgba(14, 126, 246, 1);
	padding: 10px;
	margin: 10px;
	display: inline-block;
	margin-bottom: 3px;
	margin-top: 3px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.2s;
	display: inline-flex;
	gap: 5px;
	flex-direction: row-reverse;
	width: fit-content;
	align-items: center;
	justify-items: center;
}

.export-modal-button:hover {
	background-color: rgb(16, 70, 128);
}

.export-icon {
	width: 28px;
}