:root {
	--gradient: ""
}

body {
	background-attachment: fixed;
	background-size: cover;
	overscroll-behavior: none;
	font-family: 'Helvetica', 'Arial', sans-serif;
	display: grid;
	overflow-x: hidden;
	margin: 0;
	background-size: cover;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: var(--gradient);
	/* background-attachment: fixed;
	background-size: cover; */
	background-size: cover;
}

.selects {
	position: absolute;
	margin: 10px;
}

.item-container {
	height: auto;
	display: grid;
	justify-self: center;
	align-self: center;
	width: 100%;
}

.item-container .banner {
	max-width: 500px;
	max-height: 200px;
	display: block;
	margin: auto;
	padding-bottom: 20px;
}

div:has(input) {
	width: 100%;
	max-width: 700px;
	margin: auto;
}

input {
	width: 100%;
	margin: auto;
	height: 50px;
	font-size: 24px;
	color: #171717;
	background-color: #f3f3f3;
	border: 1px solid #d9d9d9;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input:focus {
	outline-color: #171717;
}

.two-part-grid {
	width: 100%;
	max-width: 700px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	justify-items: center;
}

.two-part-grid p {
	width: 100%;
	text-align: center;
	padding-bottom: 8px;
	font-size: 24px;
	font-weight: bolder;
	font-family: 'Georgia';
	margin: 0;
}

.container p {
	padding: 11px 0px;
}

.preview-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2px;
	justify-items: center;
	align-items: center;
	padding-bottom: 10px;
}

.set-group {
	font-family: Beleren Small Caps;
	font-size: 18px;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 2px solid #171717;
}

.button-grid {
	display: grid;
	margin: auto;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	width: fit-content;
	padding-right: 4%;
}

.button-grid button {
	background-color: #171717;
	border: none;
	color: #f3f3f3;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	width: 150px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.black-button {
	background-color: #171717;
	border: none;
	color: #f3f3f3;
	border-radius: 5px;
	cursor: pointer;
	font-size: 15px;
	width: 150px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

button:hover {
	background-color: #000000;
	border: 1px solid #f3f3f3;
}

.btn-img {
	width: 24px;
}

.container {
	height: fit-content;
	align-self: center;
}

.event-container {
	background: #f3f3f3;
	width: 90%;
	border: 1px solid #d5d9d9;
	border-top: 3px solid #171717;
	border-bottom: 3px solid #171717;
	border-radius: 6px;
	display: grid;
	justify-items: center;
	gap: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: fit-content;
	display: none;
}

.event-container p {
	border-bottom: 1px solid #898989;
}

.event-container a {
	width: 70%;
}

.event-container img {
	width: 100%;
	display: block;
	margin: auto;
}

.p1p1-container {
	background: #f3f3f3;
	width: 90%;
	border: 1px solid #d5d9d9;
	border-top: 3px solid #171717;
	border-bottom: 3px solid #171717;
	border-radius: 6px;
	display: grid;
	justify-items: center;
	gap: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: fit-content;
	display: none;
}

.p1p1-container p {
	border-bottom: 1px solid #898989;
}

.p1p1-container a {
	width: 70%;
}

.p1p1-container img {
	width: 100%;
	display: block;
	margin: auto;
}

.card-container {
	background: #f3f3f3;
	width: 90%;
	border: 1px solid #d5d9d9;
	border-top: 3px solid #171717;
	border-bottom: 3px solid #171717;
	border-radius: 6px;
	display: grid;
	justify-items: center;
	gap: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: fit-content;
}

.card-container p {
	border-bottom: 1px solid #898989;
}

.card-container a {
	width: 70%;
}

.card-container img {
	width: 100%;
	display: block;
	margin: auto;
}

.set-icon-container {
	font-family: 'Beleren Small Caps';
	font-size: 12px;
	text-align: center;
	display: grid;
	justify-items: center;
	align-items: center;
	gap: 2px;
	width: 100%;
	height: 100%;
}

.set-icon-container a {
	text-decoration: none;
	color: #171717;
	height: 100%;
}

.set-icon {
	height: 60px;
	display: grid;
	align-items: center;
	justify-items: center;
}

.set-icon img {
	width: 60px;
	transition: 0.2s;
}

.set-icon img:hover {
	filter: brightness(0.7);
}

.set-icon-name {
	min-height: 30px;
	height: 100%;
}

@media (max-width: 750px) {
	.item-container {
		width: 95%;
	}

	.search-grid {
		width: 95%;
	}

	.two-part-grid p {
		font-size: 18px;
	}
}

.settings-icon {
	max-height: 30px;
	margin: 5px;
	cursor: pointer;
	float: right;
}

.search-info {
	max-height: 40px;
	opacity: 50%;
	position: absolute;
	/* z-index: 2; */
	margin-left: -45px;
	margin-top: 5px;
}

.settings {
	position: relative;
	float: right;
	margin: 20px;
	width: 98%;
}

#modal-container {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 70px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	border-radius: 10px;
	border: solid #777 3px;
	margin-bottom: 70px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	margin-left: 30px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.account-grid {
	display: grid;
	gap: 7px;
	grid-template-columns: 1fr 2fr 1fr 2fr;
	align-items: center;
	justify-items: center;
}

#login {
	font-weight: bold;
	font-size: 20px;
}

.and-more {
	/* min-height: 30px; */
	grid-column: span 2;
	height: 100%;
	font-family: beleren small caps;
	display: grid;
	align-items: center;
	justify-items: center;
	padding-bottom: 20px;
	width: 100%;
	font-size: 2.3em;
	font-family: Reglisse;
	text-decoration: underline;
	text-underline-offset: 0.15em;
	cursor: pointer;
	color: black;
	display: none;
}

.text {
	color: black;
}

.dot:before {
	content: "";
	border-radius: 20px;
	height: 20px;
	width: 20px;
	position: relative;
	background-color: rgb(79, 79, 79);
	display: block;
	cursor: pointer;
	transition: 0.2s;
}

.dot:not(.dot-active):hover:before {
	background-color: rgb(59, 59, 59);
}

.dot:active:before {
	background-color: rgb(20, 20, 20);
}

.dot-active:before {
	background-color: rgb(20, 20, 20);
}

.dots {
	display: flex;
	gap: 8px;
	margin-left: 62%;
	margin-top: 15px;
}

.event {
	background-color: #959595;
	display: flex;
	align-items: center;
	justify-items: flex-end;
	color: white;
	padding: 7px;
	font-size: 24px;
	font-weight: bold;
	gap: 8px;
	cursor: pointer;
	border-radius: 15px;
	/* width: 90%; */
	border: 2px solid black;
	transition: 0.2s;
}

.event:hover {
	background-color: #5e5e5e;
}

.event-icon {
	max-width: 40px;
}

#canvas {
	height: 250px;
	width: 300px;
	cursor: pointer;
}

#canvas2 {
	max-width: 95%;
	max-height: 95%;
	width: auto;
	height: auto;
	display: flex;
	justify-self: center;
}



.event-calendar-header {
	font-family: beleren;
	font-size: 1.5em;
	display: block;
}

.divider {
	position: relative;
	cursor: pointer;
	height: 20px;
	margin-bottom: 5px;
}

.down-arrow {
	position: absolute;
	top: -5px;
	left: 48%;
	cursor: pointer;
	pointer-events: none;
}

hr {
	color: white;
}

/* .hide-sets {
	display: none;
} */