.deck-container {
	/* display: grid; */
	/* gap: 5px; */
	/* grid-template-rows: 1fr 2fr 1fr; */
	border-radius: 8px;
	/* height: fit-content; */
	/* padding: 5px; */
	/* align-items: center;
	justify-items: center; */
	border: 2px solid var(--dark-accent);
	box-shadow: 5px 5px 2px var(--dark-accent);
	/* background-color: var(--bg-color); */
	background-color: var(--light-accent);
	/* padding-top: 0px; */
	transition: 0.3s;
	position: relative;
}

.full-deck-container {
	display: grid;
	grid-template-columns: 1fr 0.1fr;
	gap: -5px;
}

.colors-container {
	position: relative;
	top: 60px;
	right: 14px;
	background-color: var(--dark-accent);
	height: fit-content;
	padding: 2px;
	border-radius: 20px;
}

.deck-preview-img {
	/* max-height: 300px; */
	border: 2px solid black;
	/* box-shadow: 7px 7px 2px var(--light-accent); */
	border-radius: 16px;
	margin-bottom: 7px;
	width: 100%;
	height: auto;
	margin-bottom: 0;
	margin-top: 40px;
	/* filter: brightness(0.8); */
	/* box-shadow: inset 0.2em 0.2em 0.2em 0em rgba(0, 0, 0, 0.5), inset -0.2em -0.2em 0.2em 0em rgba(0,0,0,0.5); */
	/* padding: 0.2em; */
	/* background-color: #777; */
}

.deck-name {
	font-size: 30px;
	font-family: beleren;
	background-color: var(--light-accent);
	color: var(--popout-text-color);
	/* border: 2px solid var(--dark-accent); */
	/* box-shadow: 5px 5px 2px var(--dark-accent); */
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 3px;
	width: calc(100% - 10px);
	left: 0;
	height: 35px;
	text-align: center;
	position: absolute;
	border-bottom: 2px solid black;
	z-index: 1;
	/* color: white; */
}

.deck-buttons {
	display: grid;
	gap: 12px;
	align-items: center;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	position: absolute;
	bottom: 8%;
	z-index: 1;
}

.deck-icon-shadow {
	/* border: 3px solid black; */
	/* box-shadow: 2px 2px 1px var(--dark-accent); */
	box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
	padding: 0.3em;
}

.deck-link {
	/* font-family: beleren; */
	background-color: #1652e0;
	color: white;
	padding: 2px 6px 2px 6px;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	justify-items: center;
	font-size: 28px;
	cursor: pointer;
}

.deck-icon-green {
	max-height: 30px;
	background-color: #16e019;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

.deck-link-green {
	background-color: #16e019;
	color: white;
	padding: 2px 6px 2px 6px;
	border-radius: 8px;
	font-weight: bold;
	display: grid;
	grid-template-columns: 5fr 1fr;
	align-items: center;
	justify-items: center;
	font-size: 24px;
	cursor: pointer;
	/* border: 2px solid var(--dark-accent);
            box-shadow: 2px 2px 1px var(--dark-accent); */
}

.deck-link-blue {
	background-color: #4816e0;
	color: white;
	padding: 2px 6px 2px 6px;
	border-radius: 8px;
	font-weight: bold;
	display: grid;
	grid-template-columns: 5fr 1fr;
	align-items: center;
	justify-items: center;
	font-size: 24px;
	cursor: pointer;
	/* border: 2px solid var(--dark-accent);
            box-shadow: 2px 2px 1px var(--dark-accent); */
}

.deck-icon-blue {
	max-height: 30px;
	background-color: #4816e0;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

.deck-icon-shadow {
	/* border: 3px solid var(--text-color); */
	/* box-shadow: 2px 2px 1px var(--dark-accent); */
	box-shadow: inset 0.2em 0.2em 0.2em 0 rgba(255, 255, 255, 0.5), inset -0.2em -0.2em 0.2em 0 rgba(0, 0, 0, 0.5);
	padding: 0.3em;
}

.mana-img {
	max-height: 26px;
	margin: 2px;
}
