.header {
	background-color: #171717;
	height: 60px;
	align-items: center;
	justify-items: center;
	display: flex;
}

.search-grid {
	width: 80%;
	max-width: 1200px;
	height: 40px;
	margin: auto;
	display: flex;
	gap: 20px;
	justify-items: center;
	align-items: center;
}

.search-grid input {
	width: 100%;
	height: 35px;
	font-size: 16px;
	background-color: #fafafa;
	border: 1px solid #d5d9d9;
	border-radius: 2px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.search-grid a {
	color: #f3f3f3;
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
}

.search-grid a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.search-grid .sg-logo {
	height: 50px;
}

.search-grid .sg-icon {
	height: 24px;
}

.search-info {
	max-height: 30px;
	opacity: 50%;
	position: absolute;
	/* z-index: 2; */
	margin-left: -35px;
	margin-top: 2px;
}

.search-grid div:has(input) {
	width: 100%;
}

.community .community-dropdown {
	display: none;
}

.community:hover .community-dropdown {
	display: grid;
}

/* .community-dropdown:hover {
		display: grid;
	} */

.community-dropdown {
	grid-template-rows: repeat(4, 1fr);
	color: white;
	position: absolute;
	padding-top: 20px;
	background-color: #171717;
	padding: 10px;
	width: 120px;
	gap: 5px;
	font-size: 0.85em;
}

.community-dropdown-item {
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 5px;
}

.community-dropdown-item:hover {
	text-decoration: underline;
	cursor: pointer;
}

.dropdown-icon {
	max-height: 1em;
}

.header-control {
	display: none;
}

@media (max-device-width: 750px) {
	.search-grid {
		flex-direction: column;
		align-items: start;
		font-size: 2em;
		height: fit-content;
		top: 0;
	}

	.search-grid a {
		font-size: 1.6em;
	}

	.search-grid .sg-icon {
		height: 1.8em;
	}

	.search-grid input {
		display: none;
	}

	.search-grid .sg-icon[src="/img/header/search.png"] {
		display: none;
	}

	.search-info {
		display: none;
	}

	.search-grid .sg-logo {
		height: 80px;
	}


	.header {
		position: absolute;
		width: 50%;
		height: 100%;
		align-items: start;
		z-index: 1;
		/* justify-items: start; */
		flex-direction: column;
		transform: translate(-100%);
		transition: 0.25s ease-in-out;
	}

	.header-control {
		display: block;
		position: absolute;
		z-index: 2;
		height: 4vh;
		top: 1vh;
		left: 1vh;
		cursor: pointer;
		background-color: #171717dd;
		padding: 0.4vh;
		border-radius: 0.6vh;
	}
}